.header__logo {
    max-width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

.header__logo:hover {
    content: url(../../../images/Vector.svg);
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
    }
}