.button-edit {
    outline: none;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 15px 0 0 18px;
    height: 24px;
}

.button-edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .button-edit {
        margin: 8px 19px 0 0;
        height: 18px;
    }
}