.profile__add-button {
    max-width: 22px;
    margin: 35px 0;
    padding: 14px 64px;
    border: 2px solid white;
    position: absolute;
    right: 0;
}

profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        padding: 17px 132px;
        bottom: 0;
        max-width: 16px;
        margin: 0;
        left: 0;
    }
}