.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    margin: 3.75px 26.25px 3.75px 0;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        margin: 3.75px 26.25px 3.75px 22.5px;
    }
}